@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100&family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-clr: #F9F9F9;
    --white-clr: #fff;

    --primary-clr-100: #6ab51f3c;
    --primary-clr-200: #69B51F;
    --primary-clr-300: #267824;

    --acent-clr: #FF9800;
    --brown-clr: #8D6E63;
    --secondry-clr: #00ACC1;

    --heading-clr: #333333;
    --paragraph-clr: #666666;

    --ff-heading: 'Montserrat', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* CSS Reset */
html {
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
    font-family: var(--ff-body);
}

body {
    background-color: var(--bg-clr);
    overflow-x: hidden;
}

h1 {
    font-size: 2.375em;
}
h2 {
    font-size: 1.875em;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-clr);
    font-family: var(--ff-heading);
}

p {
    color: var(--paragraph-clr);
    font-family: var(--ff-body);
}

img {
    display: block;
}

/* Shared CSS */

.accent {
    color: var(--acent-clr);
}

.green {
    color: var(--primary-clr-300);
}

.btn-primary {
    background-color: var(--primary-clr-300);
    color: var(--white-clr);
    border-radius: 12px;
    padding: 0.875rem 1.5rem;
    font-weight: 800;
    font-size: 0.875rem;
}

.btn-secondary {
    background-color: var(--secondry-clr);
    color: var(--white-clr);
    border-radius: 12px;
    padding: 0.875rem 1.5rem;
    font-weight: 800;
    font-size: 0.875rem;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Navbar CSS*/

.navbar {
    background-color: var(--primary-clr-100);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 1rem;
    z-index: 999999;
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

.blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

nav {
    display: flex;
    gap: 2rem;
}

nav > * {
    font-weight: 700;
    font-family: var(--ff-body);

    transition: all .3s ease;
}

nav > *:hover {
    color: var(--primary-clr-300);
}

.navbar img {
    width: 54px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    nav {
        position: absolute;
        inset: 0;
        transform: translateY(-1000px);
        transition: all .3s ease-in-out;
    }

    .show {
        transform: translateY(0);
        position: fixed;
        inset: 0;
        z-index: 999999999;
        background: var(--primary-clr-200);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }

    .close {
        display: block;
        position: absolute;
        top: 4rem;
        right: 5%;
        z-index: 99999999999999999999;
        font-size: 24px;
        font-weight: bold;
    }

    .navbar .btn-primary {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger > svg {
        width: 35px;
        height: 40px;
        cursor: pointer;
    }

    h2 {
        max-width: 95%;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    html {
        font-size: 12px;
    }
}

/* Hero section */

.hero-section {
    display: flex;
    gap: 1rem;

    min-height: 768px;
}

.hero-section .left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 10%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-buttons{
    display: flex;
    gap: 1.5rem;
}

.hero-section .right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right > img {
    position: absolute;
    width: 110%;
    top: 10%;
    left: -1rem;
    right: -1rem;
    z-index: 1;
}

.gallery {
    position: relative;
    top: 0;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.column:first-child .column-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.column:last-child .column-img {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.gallery img {
    max-width: 220px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1024px) {
    .hero-section {
        min-height: 668px;
    }

 
    .gallery {
        margin-top: -15%;
    }

    .gallery img {
        max-width: 150px;
    }

    .right > img {
        width: 110%;
        top: 10%;
        left: -1rem;
        right: -1rem;
        z-index: 1;
    }
}

@media screen and (max-width: 900px) {
    .hero-section {
        min-height: auto;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5%;
    }

    .left {
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 0 10%;
    }

    .right > img {
        width: 100%;
        inset: 0;
        z-index: 1;
    }

    .left {
        order: 2;
        padding: 0 10%;
    }

    .gallery {
        margin-top: 10%;
    }

}

@media screen and (max-width: 420px) {
    .hero-buttons {
        flex-direction: column;
        width: 100%;
    }

    .hero-buttons > * {
        flex: 1;
    }

    .gallery img {
        max-width: 120px;
    }
}

/* Speakers section */

.speaker-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .speaker-section {
        padding-top: 4rem;
    }
}

.slider-container {
    max-width: 1440px;
    width: 100%;
}

.card {
    display: flex;
    gap: 1rem;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: 280px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

/* Volunteer Section */
.volunteer-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.125rem;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .jobs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.125rem;
    }
}

@media screen and (max-width: 480px) {
    .jobs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.125rem;
    }

    .job {
        padding: 0 10%;
        text-align: center;
        align-items: center;
    }
}


/* Hightlight Section */

.highlight-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

.hightlight {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
    border-radius: 12px;
    background-color: var(--primary-clr-100);
}

.hightlight img {
    min-width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.load-more {
    display: flex;
    justify-content: flex-end;
}

.btn-load {
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-clr-200);
    font-weight: 700;
    cursor: pointer;
    margin-top: 1.5rem;

    transition: all .3s ease;
}

.btn-load > svg {
    margin-left: 0.875rem;
    font-family: var(--ff-body);
}

.btn-load:hover {
    color: var(--acent-clr);
}

.over-message {
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .highlights {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .highlights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Initiative section */

.initiative-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
}

.over-message2 {
    text-align: center;
    margin-top: 1rem;
}

.initiatives {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

.initiative {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
    border-radius: 12px;
    background-color: var(--primary-clr-100);
}

.initiative img {
    min-width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1024px) {
    .initiatives {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .initiatives {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Contact Section */

.contact-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
}

.contact-content {
    display: flex;
    gap: 1rem;
}

.contact-content .left2 {
    flex: 1;
}

.contact-content .right2 {
    flex: 1;
}

.contact-content img {
    min-width: 100%;
    min-height: 100%;

    max-width: 190px;
    border-radius: 12px;
    object-fit: contain;
    object-position: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.row .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-clr-100);
    padding: 0.875rem;
    border-radius: 12px;
    color: var(--primary-clr-300);
}

@media screen and (max-width: 900px) {
    .contact-content {
        flex-direction: column;
        gap: 3.125rem;
    }

    .contact-content h4 {
        text-align: center;
    }
    .contact-content .left2 > p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
        text-align: center;
    }

    .right2 {
        width: 70%;
        margin: 0 auto;
    }

}

/* Footer section*/

.footer-section {
    margin-top: 4rem;
    background-color: var(--primary-clr-100);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.footer-section .privacy {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.footer p {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer-section .privacy {
        justify-content: center;
    }
}


/* Animation */
@media (prefers-reduced-motion: no-preference) {
    body {
        animation: transitionIn 1.75s;
    }

    .gallery {
        animation: float 4s infinite alternate;
    }
    
    @keyframes transitionIn {
        from {
            opacity: 0;
            transform: translateY(-120px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes float {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(10px);
        }
    }
}